.heading{
  height: auto;
  width: auto;
  background-color: lightgreen;
}
.second_heading{
  height: auto;
  width: auto;
  background-color: lightblue;
}
.third_heading{
  height: auto;
  width: auto;
  background-color: lightpink;
}
